.lake
*.tar.gz
out/
Examples
Extracted
.vscode
*.olean
/build
/lake-packages/*
.idea
.DS_Store
*.pyc
.db/
.venv*
*.sqlite3
*.duckdb
logs/
evals/
knowledge_graphs/
.legacy/
.cotraining_evals/
wandb/
last_run_prepared/
cotraining_runs/
cotraining_data/
prompts/.prompt_examples/
prompts/minictx_train/
prompts/prompts/
prompts/prompts_test/
__pycache__/