.lake
*.tar.gz
out/
Examples
Extracted
.vscode
*.olean
/build
/lake-packages/*
.idea
.DS_Store
*.pyc
.db/
.venv*
*.sqlite3
*.duckdb
logs/
.evals/
.knowledge_graphs/
.knowledge_graphs/
.legacy/
.cotraining_evals/
wandb/