.lake
*.tar.gz
out/
Examples
Extracted
.vscode
*.olean
/build
/lake-packages/*
.idea
.DS_Store
*.pyc
.db/
experiments_old/
configs/
.venv*
*.sqlite3
*.duckdb
logs/
evals/
knowledge_graphs/
.legacy/
.cotraining_evals/
wandb/
last_run_prepared/
cotraining_runs/
cotraining_data/
prompts_old/
__pycache__/
*.out
scripts/
train/
rag/rag_test_set/
rag/rag_train_set/
experiments/final/baselines/
experiments/**/*.jsonl
experiments/**/*.arrow
experiments/final/**/*.jsonl
experiments/final/**/*.arrow
