aiohttp==3.11.13
aiohttp==3.11.18
chromadb==0.6.3
click==8.2.1
datasets==3.5.0
duckdb==1.2.2
huggingface_hub==0.31.1
invoke==2.2.0
langchain==0.3.27
langchain_chroma==0.2.5
langchain_core==0.3.72
langchain_huggingface==0.3.1
matplotlib==3.10.3
neo4j==5.28.1
numpy==2.3.2
openai==1.98.0
packaging==25.0
pandas==2.3.1
peft==0.15.0
Pygments==2.19.2
pytz==2025.1
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.46.0
Requests==2.32.4
scipy==1.16.1
seaborn==0.13.2
tiktoken==0.9.0
torch==2.6.0
tqdm==4.67.1
transformers==4.51.3
vllm==0.8.5.post1
watchfiles==1.1.0
zulip==0.9.0
