body {
  font-family: 'Arial', sans-serif;
}

main.container {
  padding: 1em;
}

pre {
  background-color: #f4f4f4;
  padding: 1em;
  border-radius: 5px;
}

nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block; 
  float: none;
  margin-right: 10px;
}


article {
  margin-bottom: 2em;
}

header, footer {
  padding: 0.5em 0;
}

section {
  margin-bottom: 1.5em;
}

.news-scroller {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  background-color: var(--surface);
  border-radius: var(--radius);
}

.news-scroller .news-item {
  flex: 0 0 auto;
  width: 250px;
  margin-right: 10px;
  padding: 20px;
  background-color: var(--background);
  border-radius: var(--radius);
  box-shadow: var(--shadow-small);
  text-align: left;
}

.news-scroller .news-item h3 {
  margin-top: 0;
}

.news-scroller .news-item p {
  margin-bottom: 10px;
}

.news-scroller .news-item a {
  text-decoration: none;
  color: var(--primary);
}

.news-scroller .news-item a:hover {
  text-decoration: underline;
}
